<div class="row">
  <div class="col-sm-8">
    <h1>
      ASCII CATS<br />
    </h1>
    <h2>
      Refresh for a new image of a cat
    </h2>
  </div>

  <div class="col-sm-4">
      <button type="button" class="btn-lg btn-info" id="new-cat">Click for new cat</button>
  </div>
</div>


<table style="margin-left:auto;margin-right:auto;">
  <tr>
    <td>
      <div id="cat-image">
        <%= raw getNewCat() %>
      </div>
    </td>
  </tr>
</table>


<%= javascript_tag do %>
  var catArray = new Array();
    catArray = <%= raw @cats %>;
<% end %>


<p style="text-align: right">*Cats from http://asciiworld.com</p>