@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);

/* Universal */
* {
	font-family: "Raleway Dots";
}


.jumbotron {
	margin-top:30px;
	height:200px;
	h1 {
		font-family: "Raleway Dots";
		font-weight: bold;
		text-align:center; 
		margin-top:0px;
	}
}

pre {
	border: none;
	background-color: #fff;
}